@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {background-image: linear-gradient(to bottom, black, #011C2F); background-repeat: no-repeat; min-height: 100%;}

body { margin: 0; font-family: 'Montserrat', sans-serif; font-size: 20px; color: white;}

.field		  {position: absolute;
			   padding: 20px;
 			   background-color: #04121c;
 			   border-radius: 25px;
 			   width: 950px;
 			   height: 700px;
 			   text-align: center;
 			   margin: 5% auto auto 24%}

.field > div{ float:left; margin-left:65px;}

.container 	  {
			   width: 300px;
			   height: 550px;
			   background-color: #222324;
			   border-radius: 25px; 
}

.card 	 {position: absolute;
          width: 160px;
          height: 340px;
          background-color: #edeff2;
          border: solid black 1px;
          border-radius: 15px;
          margin: 75px;
      	  }

	.cardname {margin-top: 120px; }

.secondcont { width: 200px; height: 420px;background-color: #222324; border-radius: 25px;}
